/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-top: 40px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #F9F9F9;
  min-height: 100svh;
  min-width: 100svw;
  text-align: center;
  /* background-color: #13131F; */

  background-image: linear-gradient(to right, #13131F, #000428);
}

a {
  text-decoration: none;
  color: inherit;
  align-self: center;
}

img {
  display: block;
  max-height: 100%;
  margin: 10px;
}

iframe {
  margin: 10px;
}

/* Linhas horizontais que estão em algumas partes da página, ajuda no visual */
.hr-l {
  border: solid 1px #00109c;
  width: 80%;
  justify-self: center;
  margin: 0 5px;
}

.hr-center {
  border: solid 1px #00109c;
  width: 30%;
  justify-self: center;
}

.hr-p--right {
  display: flex;
  border: solid 1px #00109c;
  width: 20%;
  align-self: flex-end;
  margin: 0 5px;
}

.hr-p--left {
  border: solid 1px #00109c;
  width: 20%;
  margin: 0 5px;
}

/* HEADER */

.header__ {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  border-bottom: solid 4px #00109c;
  margin-bottom: 15px;
  background-image: linear-gradient(to right, #13131F, #000428);
  width: 100%;
  justify-self: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header__list {
  display: flex;
  height: 10svh;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
  gap: 50px;
  list-style: none;
  font-weight: 600;
}

@media (max-width: 720px) {
  .header__text {
    padding-left: 25px;
  }

  .header__list {
    gap: 25px;
  }
}

@media (max-width: 450px) {
  .header__text {
    font-size: 1.2rem;
    padding-left: 10px;
  }

  .header__list {
    padding: 0;
    gap: 15px;
  }
}

/* SEÇÃO HERO */

.hero__ {
  display: flex;
  justify-content: space-evenly;
}

.hero__img img {
  width: 350px;
  height: 350px;
  border-radius: 1000px;
  border: solid 5px #00109c;
}

.hero__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 450px;
}

.hero__description {
  font-size: 1.2rem;
  text-align: center;
}

.hero__title {
  font-size: 2.4rem;
}

.hero__buttons {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 5px;
  gap: 13px;
}

.hero__buttons img {
  margin: 0;
}

.hero__buttons--button {
  display: flex;
  align-items: center;
  padding: 7px 15px;
  gap: 10px;
  font-size: .9rem;
  font-weight: 600;
  border: solid 2px #00109c;
  border-radius: 20px;
}

.hero__buttons--button:hover {
  color: #fff;
  background-color: #00109c;
  transition: background-color ease 300ms;
  transform: scale(110%);
  transition: transform ease 300ms;
}

.hero__buttons--icon {
  width: 23px;
  height: 23px;
}

@media (max-width: 760px) {
  .hero__ {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 430px) {
  .hero__img img {
    width: 185px;
    height: 185px;
    border-radius: 1000px;
  }

  .hero__title {
    font-size: 2rem;
  }

  .hero__description {
    font-size: 1rem;
  }
}


/* ABOUT ME */

.about-me__ {
  border-bottom: solid 2px #00109c;
  padding: 0 0 25px 0;
  width: 90%;
  justify-self: center;
  max-width: 900px;
  text-align: center;
}

.about-me__title {
  padding: 15px 0 10px 0;
  font-weight: 700;
  font-size: 2rem;
}

.about-me__text {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  padding: 10px 25px;
  gap: 15px;
}

.about-me__text h4{
  text-align: center;
  font-size: 1.4rem;
}

/* @media (max-width: 1100px) {
  .about-me__title {
    font-size: 2.7vw;
    padding: 25px 0 10px 0;
  }

  .about-me__text {
    font-size: 1.6vw;
  }
}

@media (max-width: 880px) {
  .about-me__title {
    font-size: 2.7vw;
    padding: 25px 0 10px 0;
  }

  .about-me__text {
    font-size: 1.9vw;
  }
}

@media (max-width: 770px) {
  .about-me__title {
    font-size: 20px;
    padding: 25px 0 10px 0;
  }

  .about-me__text {
    font-size: 15px;
  }
} */

/* PROJECTS */

.projects__ {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0px 0px 10px 0px;
  border-bottom: solid 2px #00109c;
}

.projects__container {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.projects__project {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.projects__project-reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
}

.projects__title {
  text-align: center;
  padding: 25px 0 20px 0;
  font-weight: 700;
  font-size: 2rem;
}

.projects__image-project {
  width: 500px;
  border-radius: 10px;
}

.projects__iframe-project {
  width: 500px;
  height: 337px;
}

.projects__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 10px;
  text-align: justify;
  font-size: 1.1rem;
  max-width: 450px;
}

.projects__buttons {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 5px;
  gap: 13px;
}

.projects__buttons--button {
  align-self: start;
  padding: 7px 15px;
  gap: 10px;
  font-size: .9rem;
  font-weight: 600;
  border: solid 2px #00109c;
  border-radius: 20px;
}

.projects__buttons--button:hover {
   color: #fff;
  background-color: #00109c;
  transition: background-color ease 300ms;
  transform: scale(105%);
  transition: transform ease 200ms;
}

.projects__description--title {
  padding-bottom: 15px;
  gap: 10px;
  align-self: start;
  font-size: 1.8rem;
  text-align: start;
}

.projects__description--title-reverse {
  padding-bottom: 0px 0px 0px;
  gap: 10px;
  align-self: flex-end;
  font-size: 1.8rem;
}

.projects__description--technologies {
  text-align: center;
}

@media (max-width: 1100px) {
  .projects__image-project {
    width: 48vw;
  }
}

@media (max-width: 880px) {
  .projects__project,
  .projects__project-reverse {
    flex-direction: column;
  }

  .projects__image-project {
    width: 500px;
  }

  .projects__description--title,
  .projects__description--title-reverse {
    align-self: center;
  }

  .projects__container {
    gap: 15px;
  }
}

@media (max-width: 600px) {
  .projects__image-project {
    width: 400px;
  }

  .projects__container {
    gap: 15px;
  }

  .projects__iframe-project {
    width: 400px;
    height: 221px;
  }
}

@media (max-width: 600px) {
  .projects__image-project {
    width: 400px;
  }

  .projects__iframe-project {
    width: 400px;
    height: 221px;
  }
}

/* CONTACT */

.contact__title {
  padding: 25px;
  font-weight: 700;
  font-size: 2rem;
}

.contact__text {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
  justify-content: center;
}

.contact__icons {
  width: 50px;
  display: flex;
  align-items: center;
}

.contact__icons:hover {
  transform: scale(120%);
  transition: transform ease 200ms;
}

/* @media (max-width: 1100px) {
  .contact__title {
    font-size: 2.7vw;
  }

  .contact__text {
    font-size: 2vw;
  }
}

@media (max-width: 880px) {
  .contact__title {
    font-size: 2.7vw;
  }

  .contact__text {
    font-size: 2vw;
  }
}

@media (max-width: 770px) {
  .contact__title {
    font-size: 20px;
  }

  .contact__text {
    font-size: 16px;
  }
}

.contact__text a {
  display: flex;
  align-items: center;
  gap: 5px;
} */

/* FOOT */

.foot__ {
  padding: 15px;
  justify-self: center;
  color: #ffffff7e;
  font-size: 1rem;
}
