/* VÁRIAVEL DE COR */

:root {
  --azul-padrao: #0017e2;
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-top: 65px;
}

body {
  font-family: "Poppins", sans-serif;
  color: #f9f9f9;
  min-height: 100svh;
  min-width: 98svw;
  background-image: linear-gradient(to right, #181827, #00063d);
}

a {
  text-decoration: none;
  color: inherit;
  align-self: center;
}

img {
  display: block;
  max-height: 100%;
  margin: 10px;
}

/* Linhas horizontais que estão em algumas partes da página, ajuda no visual */
.hr-l {
  border: solid 1px var(--azul-padrao);
  width: 80%;
  justify-self: center;
  margin: 0 5px;
}

.hr-center {
  border: solid 2px var(--azul-padrao);
  width: 30%;
  justify-self: center;
}

.hr-center-wide {
  border: solid 2px var(--azul-padrao);
  width: 65%;
  justify-self: center;
}

.hr-p--right {
  display: flex;
  border: solid 1px var(--azul-padrao);
  width: 20%;
  align-self: flex-end;
  margin: 0 5px;
}

.hr-p--left {
  border: solid 1px var(--azul-padrao);
  width: 20%;
  margin: 0 5px;
}

/* HEADER */

.header__ {
  display: flex;
  justify-content: end;
  align-items: center;
  border-bottom: solid 4px var(--azul-padrao);
  margin-bottom: 15px;
  background-image: linear-gradient(to right, #181827, #00063d);
  width: 100%;
  justify-self: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header__list {
  display: flex;
  height: 10svh;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
  gap: 50px;
  list-style: none;
  font-weight: 600;
  color: #fff;
}

.header__list li {
  transition: transform ease 200ms;
}

.header__list li:hover {
  transform: scale(1.2);
}

@media (max-width: 800px) {
  .header__ {
    justify-content: center;
  }

  .header__list {
    padding: 0;
    gap: 25px;
  }
}

@media (max-width: 450px) {
  .header__list {
    font-size: 0.8rem;
    height: 7svh;
  }
}

/* SEÇÃO HERO */

.hero__ {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.hero__img img {
  width: 350px;
  height: 350px;
  border-radius: 1000px;
  border: solid 5px var(--azul-padrao);
  transition: transform ease 300ms;
}

.hero__img img:hover {
  transform: scale(1.1);
}

.hero__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  max-width: 450px;
  font-size: 1.8rem;
}

.hero__description {
  font-size: 1.4rem;
  text-align: center;
  padding-bottom: 15px;
}

.hero__title {
  font-size: 3rem;
}

.hero__buttons {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 5px;
  gap: 13px;
}

.hero__buttons img {
  margin: 0;
}

.hero__buttons--button {
  display: flex;
  align-items: center;
  padding: 7px 15px;
  gap: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  border: solid 2px var(--azul-padrao);
  border-radius: 20px;
  transition:
    transform ease 300ms,
    background-color ease 300ms;
}

.hero__buttons--button:hover {
  color: #f9f9f9de;
  background-color: var(--azul-padrao);
  transform: scale(110%);
}

.hero__buttons--icon {
  width: 23px;
  height: 23px;
}

@media (max-width: 800px) {
  .hero__ {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 430px) {
  .hero__img img {
    width: 185px;
    height: 185px;
    border-radius: 1000px;
  }

  .hero__title {
    font-size: 2rem;
  }

  .hero__description {
    font-size: 1rem;
  }

  .hero__buttons--button {
    font-size: 0.7rem;
    padding: 7px 10px;
  }

  .hero__buttons--icon {
    width: 18px;
    height: 18px;
  }
}

/* ABOUT ME */

.about-me__ {
  padding-bottom: 25px;
  width: 100%;
  justify-self: center;
  text-align: center;
  color: #f9f9f9de;
  justify-items: center;
}

.about-me__title {
  padding: 15px 0 10px 0;
  font-weight: 700;
  font-size: 2rem;
}

.about-me__text {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  padding: 10px 25px;
  gap: 15px;
  max-width: 800px;
}

.about-me__tecnologies {
  margin-top: 75px;
}

.about-me__tecnologies h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 25px;
}

.about-me__tecnologies--images {
  display: grid;
  justify-items: center;
  justify-content: center;
  margin-bottom: 50px;
  gap: 25px;
  max-width: 950px;
  grid-template-columns: repeat(auto-fit, minmax(110px, 110px));
}

.about-me__tecnologies img {
  width: 70px;
  height: 70px;
}

figure {
  border: var(--azul-padrao) solid 3px;
  padding: 15px;
  border-radius: 20px;
  transition: transform ease 200ms;
}

figure:hover {
  transform: scale(1.14);
}

figcaption {
  font-size: 0.9rem;
  font-weight: 600;
}

@media (max-width: 1100px) {
  .about-me__tecnologies--images {
    grid-auto-flow: row; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 5px;
  }
}

@media (max-width: 500px) {
  .about-me__tecnologies h2 {
    font-size: 1.8rem;
  }

  .about-me__tecnologies img {
    width: 40px;
    height: 40px;
  }

  figure {
    padding: 10px;
  }

  figcaption {
    font-size: 0.7rem;
    font-weight: 600;
  }
}

@media (max-width: 430px) {
  .about-me__title {
    font-size: 1.8rem;
  }

  .about-me__text {
    font-size: 1rem;
  }
}

/* PROJECTS */

.projects__ {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.projects__container {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.projects__project {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000e8d;
  max-width: 80%;
  align-self: center;
  gap: 10px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 0 10px 2px #000e8d;
  background-image: linear-gradient(to right, #1f1f31, #00063f);
  transition: transform ease 500ms;
  margin: 15px;
}

.projects__project:hover {
  transform: scale(1.05);
}

.projects__project.reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.projects__title {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 2.4rem;
}

.projects__image-project {
  width: 500px;
  border-radius: 10px;
}

iframe {
  margin: 10px;
  border: none;
  flex-shrink: 0; /* Nao deixa o iframe ser empurrado e diminuido*/
}

.projects__iframe-project {
  width: 470px;
  height: 307px;
}

.projects__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  text-align: justify;
  font-size: 1.1rem;
  max-width: 450px;
}

.projects__buttons {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 5px;
  gap: 13px;
}

.projects__buttons--button {
  padding: 7px 15px;
  font-size: 0.9rem;
  font-weight: 600;
  border: solid 2px var(--azul-padrao);
  border-radius: 20px;
}

.projects__buttons--button:hover {
  color: #f9f9f9de;
  background-color: var(--azul-padrao);
  transition: background-color ease 300ms;
  transform: scale(105%);
  transition: transform ease 200ms;
}

.projects__description--title {
  padding-bottom: 15px;
  gap: 10px;
  align-self: start;
  font-size: 1.8rem;
  text-align: start;
}

.projects__description--title-reverse {
  padding-bottom: 5px;
  gap: 10px;
  align-self: flex-end;
  font-size: 1.8rem;
}

.projects__description--technologies {
  text-align: center;
}

@media (max-width: 1100px) {
  .projects__image-project {
    width: 45vw;
  }
}

@media (max-width: 1000px) {
  .projects__project,
  .projects__project.reverse {
    flex-direction: column;
  }

  .projects__image-project,
  .projects__iframe-project {
    width: 500px;
  }

  .projects__description--title,
  .projects__description--title-reverse {
    align-self: center;
    text-align: center;
  }

  .projects__container {
    gap: 15px;
  }
}

@media (max-width: 650px) {
  .projects__image-project {
    width: 400px;
  }

  .projects__container {
    gap: 15px;
  }

  .projects__iframe-project {
    width: 400px;
    height: 221px;
  }
}

@media (max-width: 530px) {
  .projects__image-project {
    width: 75vw;
  }

  .projects__iframe-project {
    width: 75vw;
    height: 39vh;
  }
}

/* CONTACT */

.contact__title {
  padding: 25px;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

.contact__text {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
  justify-content: center;
}

.contact__icons {
  width: 50px;
  display: flex;
  align-items: center;
  transition: transform ease 300ms;
}

.contact__icons:hover {
  transform: scale(120%);
}

/* FOOT */

.foot__ {
  padding: 15px;
  justify-self: center;
  color: #ffffff7e;
  font-size: 1rem;
}
